.formarea{
    flex:1 1 60%;
    height:100%;
    background-color: whitesmoke;
    position: relative;

    @at-root #{&}--header{
        height:5%;
        background-color: #2d8cf0;
        color:#fff;
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        padding:5px 20px;

        @at-root #{&}--title{
            font-size:20px;
        }
    }

    @at-root #{&}--BtnGroup{
        @at-root #{&}--btn{
            &.reset{
                margin-right:10px;
            }
        }
    }

    @at-root #{&}--Main{
        height:95%;
        overflow:auto;

        &.active{
            border:2px solid red;
            opacity: .5;
        }
    }
    @at-root #{&}--ItemEdit{
        background-color: rgba(255,255,255,.3);
        border-style:dashed; 
    }

    @at-root #{&}--Item{

        padding:30px 12px;
        margin-bottom:10px;

        @at-root #{&}:hover{
            opacity: .5;
            border:2px solid #000;
        }
        @at-root #{&}--label{

            line-height: 1.4;
            font-size:1rem;
            font-weight:normal;
            color:#000;
        }
        @at-root #{&}--required{
            color:#ed4014;
        }   
        @at-root #{&}--component{
            margin-top:6px;
        }
        @at-root #{&}--title{
            text-align: center;
            font-size:25px;
            font-weight:700;
        }
        @at-root #{&}--subTitle{
            text-align: center;
            font-size:20px;
            font-weight:500,
        }
        @at-root #{&}--image{
            width:100%;
            height:100%;
        }
    }
    
    @at-root #{&}--submitBtn{
        width:100%;
        height:8%;
        font-size:20px;
    }
    @at-root #{&}--tip{
        line-height: 1.4;
        font-weight: normal;
        color: #666666;
        padding:5px 10px;
        text-align: center;
    }
    @at-root #{&}--foot{
        margin-top: 20px;
        text-align:center;
    }
}