

.formarea{
    flex:1 1;
    height:100%;
    background-color: whitesmoke;
    position: relative;

    @at-root #{&}--header{
        height:5%;
        background-color: #2d8cf0;
        color:#fff;
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        padding:5px 20px;

        @at-root #{&}--title{
            font-size:20px;
            display: flex;
            align-items: center;

            @at-root #{&}--icon{
                width:20px;
                height:20px;
                margin-right:10px;
            }
        }
    }

    @at-root #{&}--BtnGroup{
        @at-root #{&}--btn{
            &.reset{
                margin-right:10px;
            }
        }
    }

    @at-root #{&}--Main{
        height:95%;
        overflow:auto;

        &.active{
            border:2px solid red;
            opacity: .8;
        }
    }
    @at-root #{&}--ItemEdit{
        box-shadow:0 10px 15px 0 rgba(0,0,0,.1);
        border-radius:4px;
        border:2px solid #2672ff;
        outline:none;
        // background-color: rgba(255,255,255,.3);
        // border-style:dashed; 
    }

    @at-root #{&}--Item{
        width:80%;
        padding:20px 12px;
        margin:0 auto;
        // margin-bottom:10px;

        @at-root #{&}:hover{
            cursor:move;
            opacity: 1;
        }
        @at-root #{&}--label{

            line-height: 1.4;
            font-size:1rem;
            font-weight:normal;
            color:#000;
        }
        @at-root #{&}--required{
            color:#ed4014;
        }   
        @at-root #{&}--component{
            margin-top:6px;
        }
        @at-root #{&}--title{
            text-align: center;
            font-size:25px;
            font-weight:700;
        }
        @at-root #{&}--subTitle{
            text-align: center;
            font-size:18px;
            font-weight:500,
        }
        @at-root #{&}--image{
            width:100%;
            height:100%;
        }
    }
    @at-root #{&}--submitBtn{
        width:80%;
        height:5%;
        font-size:20px;
        margin:0 auto;
        margin-bottom:10px;
        padding:0 12px;
    }
    @at-root #{&}--tip{
        line-height: 1.4;
        font-weight:400;
        color: #666666;
        padding:5px 10px;
        width:80%;
        margin:0 auto;
        text-align: center;
    }
    @at-root #{&}--foot{
        margin:0 auto;
        width:80%;
        padding:0 12px;
        margin-top: 20px;
        margin-bottom:50px;
        text-align:center;
    }
}